.todo-input {
  position: relative;
  top: -200px;

  .todo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    h1 {
      letter-spacing: 10px;
      font-weight: 700;
    }
  }

  form {
    position: relative;
    @include centercircle;
  }

  input {
    width: 100%;
    padding: 23px 0 18px 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(#000000, 0.3);
  }
}
